name: Release

on:
  push:
    branches: [main, next]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      # allow the lock file to change (updating our own workspace versions in monorepo)
      - run: yarn install --no-immutable
      - run: yarn build
      - run: yarn test

      # commit back the lock file change if it works
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply yarn.lock changes

      - run: yarn release
